#root {
  padding: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.option-buttons{
  flex: 1;
}


.updating{
  background: rgb(0, 172, 172);
}

.done{
  background: rgb(69, 226, 69);
}
.deleting{
  background: rgb(235, 122, 73);
}

tr{
  transition: 800ms cubic-bezier(0, 0, 0, 1.43);
}

td.options{
  display: flex;
  flex-direction: row;
}